**Clean up your resources to avoid reaching billing limits**

In [1]:
import pandas as pd
import configparser
import boto3
import json

# STEP 0: Make sure you have an AWS secret and access key

- Create a new IAM user in your AWS account
- Give it `AdministratorAccess`, From `Attach existing policies directly` Tab
- Take note of the access key and secret 
- Edit the file `dwh.cfg` in the same folder as this notebook and fill
<font color='red'>
<BR>
[AWS]<BR>
KEY= YOUR_AWS_KEY<BR>
SECRET= YOUR_AWS_SECRET<BR>
<font/>
    
**We use the KEY and SECRET in creating clients for EC2, S3, IAM, and Redshift**

## Load DWH Params from a file

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DB_NAME                = config.get("CLUSTER","DB_NAME")
DB_USER                = config.get("CLUSTER","DB_USER")
DB_PASSWORD            = config.get("CLUSTER","DB_PASSWORD")
DB_PORT                = config.get("CLUSTER","DB_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DB_USER, DB_PASSWORD, DB_NAME)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DB_NAME, DB_USER, DB_PASSWORD, DB_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

In [3]:
# [*config['CLUSTER'].values()]

## Create clients for EC2, S3, IAM, and Redshift

In [4]:
# for ec2, s3 --> use boto3.resource
# for iam, redshift --> use boto3.client

# used to open an incoming TCP port to access the cluster ednpoint
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

# used to create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)
iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

# used to create a RedShift Cluster
redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

<br>

# STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [6]:
# Create the IAM role
# from botocore.exceptions import ClientError

try:
    print('1.1 Creating a new IAM Role')
    dwhRole = iam.create_role(Path='/',
                              RoleName=DWH_IAM_ROLE_NAME,
                              Description='Allows Redshift clusters to call AWS services on your behalf',
                              AssumeRolePolicyDocument=json.dumps(
                                  {'Statement': [{'Action': 'sts:AssumeRole',
                                                  'Effect': 'Allow', 
                                                  'Principal': {'Service': 'redshift.amazonaws.com'}
                                                 }], 
                                   'Version': '2012-10-17'})
    )
    
except Exception as e:
    print(e)

In [7]:
# Attach Policy
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

In [8]:
# Get and print the IAM role ARN 
print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print("/nThis IAM role makes Redshift able to access S3 bucket (ReadOnly)")
print(roleArn)

1.3 Get the IAM role ARN
/nThis IAM role makes Redshift able to access S3 bucket (ReadOnly)
arn:aws:iam::473908757616:role/dwhRole

<br>

## STEP 2:  Redshift Cluster

- Create a RedShift Cluster

In [9]:
try:
    response = redshift.create_cluster(        
        # add parameters for hardware
        ClusterType = DWH_CLUSTER_TYPE,
        NodeType = DWH_NODE_TYPE,
        NumberOfNodes = int(DWH_NUM_NODES),

        # add parameters for identifiers & credentials
        DBName = DB_NAME,
        ClusterIdentifier = DWH_CLUSTER_IDENTIFIER,
        MasterUsername = DB_USER,
        MasterUserPassword =DB_PASSWORD,
        
        # add parameter for role (to allow s3 access)
        IamRoles = [roleArn] 
    )
except Exception as e:
    print(e)

### 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [14]:
def prettyRedshiftProps(props):
    """Prints Redshift Cluster properties.

    Args:
        props: Cluster properties (dict).

    Returns:
        A DataFrame that contains the Cluster properties.
        
    """
    pd.set_option('display.max_colwidth', None)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0b07ce82c5126706e
7,NumberOfNodes,4

<h3> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h3>

<font color='red'>DO NOT RUN THIS unless the cluster status becomes "Available" </font>

In [15]:
HOST = myClusterProps['Endpoint']['Address']
ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", HOST)
print("DWH_ROLE_ARN :: ", ARN)

DWH_ENDPOINT ::  dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::473908757616:role/dwhRole

<br>

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [17]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]  # 0 --> The Default Security Group
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DB_PORT),
        ToPort=int(DB_PORT)
    )
except Exception as e:
    print(e)

<br>

## STEP 4: Make sure you can connect to the cluster

In [18]:
%load_ext sql

> HOST = ENDPOINT

In [19]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh

<br>

## STEP 5: Clean up your resources
<b><font color='red'>DO NOT RUN THIS UNLESS YOU ARE SURE <br/> 
    That you will not use these resources now</span></b>

In [36]:
# #### CAREFUL!!
# #-- Uncomment & run to delete the created resources
# redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
# #### CAREFUL!!

<br>

- run this block several times until the cluster really deleted

In [37]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0b07ce82c5126706e
7,NumberOfNodes,4

<BR>

In [22]:
# #### CAREFUL!!
# #-- Uncomment & run to delete the created resources
# iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
# iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
# #### CAREFUL!!

<br>

# RUN PYTHON SCRIPTS

In [23]:
# ### How to run the Python scripts
# We can run python scripts either:
# - in the notebook:
#     - %run -i '<filename>.py'
#     - !python <filename>.py

In [24]:
# %%timeit

!python create_tables.py

https://knowledge.udacity.com/questions/58856

In [26]:
from time import time

t0 = time()
!python etl.py
print((time()-t0)/60)

2.7096246480941772

In [30]:
# %sql SELECT * FROM stl_load_errors;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(100, 0, 106219, datetime.datetime(2022, 9, 14, 21, 30, 1, 970190), 1073791481, 280, 's3://udacity-dend/log_json_path.json                                                                                                                                                                                                                            ', 22, 'sessionid                                                                                                                      ', 'int4      ', '0         ', 0, '{     "jsonpaths": [         "$[\'artist\']",         "$[\'auth\']",         "$[\'firstName\']",         "$[\'gender\']",         "$[\'itemInSession\ ... (762 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1213, 'Missing data for not-null field                                                                     ', 0, 0),
 (100, 4, 106163, datetime.datetime(2022, 9, 14, 21, 24, 21, 78076), 1073897838, 66, 's3://udacity-dend/log_json_path.json                                                                                                                                                                                                                            ', 22, 'registration                                                                                                                   ', 'numeric   ', '18, 0     ', 0, '{     "jsonpaths": [         "$[\'artist\']",         "$[\'auth\']",         "$[\'firstName\']",         "$[\'gender\']",         "$[\'itemInSession\ ... (762 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1213, 'Missing data for not-null field                                                                     ', 0, 0),
 (100, 7, 106191, datetime.datetime(2022, 9, 14, 21, 27, 50, 378193), 1073750404, 207, 's3://udacity-dend/log_json_path.json                                                                                                                                                                                                                            ', 22, 'sessionid                                                                                                                      ', 'int4      ', '0         ', 0, '{     "jsonpaths": [         "$[\'artist\']",         "$[\'auth\']",         "$[\'firstName\']",         "$[\'gender\']",         "$[\'itemInSession\ ... (762 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1213, 'Missing data for not-null field                                                                     ', 0, 0)]

<BR>

In [27]:
%sql SELECT * FROM stl_load_errors;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [28]:
%sql SELECT * FROM stagingEvents LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', '1540006905796', 153, 'Monster (Album Version)', 200, 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66),
 (None, 'Logged In', 'Kynnedi', 'F', 0, 'Sanchez', None, 'free', 'Cedar Rapids, IA', 'GET', 'Home', '1541079034796', 88, None, 200, 1541149530796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 89),
 ('Kylie Auldist', 'Logged In', 'Lily', 'F', 8, 'Koch', 265.92608, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1541048010796', 172, 'Ship Inside A Bottle', 200, 1541151060796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15),
 ('Commit Suicide', 'Logged In', 'Lily', 'F', 16, 'Koch', 105.482, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1541048010796', 172, 'In All This Revelation', 200, 1541152940796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15),
 ('The Black Keys', 'Logged In', 'Lily', 'F', 24, 'Koch', 294.76526, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1541048010796', 172, 'The Lengths', 200, 1541154252796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15),
 ('Amon Amarth', 'Logged In', 'Lily', 'F', 32, 'Koch', 312.29342, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1541048010796', 172, 'North Sea Storm (Live)', 200, 1541156359796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15),
 ('Frumpies', 'Logged In', 'Aleena', 'F', 0, 'Kirby', 134.47791, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 157, 'Fuck Kitty', 200, 1541157674796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Katy Perry', 'Logged In', 'Aleena', 'F', 3, 'Kirby', 179.40853, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 157, 'I Kissed A Girl', 200, 1541158307796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Blank & Jones', 'Logged In', 'Aleena', 'F', 7, 'Kirby', 310.15138, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', '1541022995796', 157, 'Beyond Time (Ambient Mix)', 200, 1541159229796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Apocalyptica', 'Logged In', 'Chloe', 'F', 0, 'Cuevas', 409.86077, 'free', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1540940782796', 179, 'Coma', 200, 1541160161796, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 49)]

In [29]:
%sql SELECT * FROM stagingSongs LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(1, 'ARC43071187B990240', None, None, 'Wisner, LA', 'Wayne Watson', 'SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', Decimal('245'), 0),
 (1, 'AR1WWVL1187B9B0306', None, None, 'Birmingham, England', 'UB40', 'SOZODBG12A6701C5D1', 'Reasons (Radio Remix)', Decimal('207'), 0),
 (1, 'ARGQJWL1187FB3CE9E', None, None, '', 'La Polla Records', 'SOXLGTI12A8C13C08B', 'Cara Al Culo', Decimal('82'), 1985),
 (1, 'ARR9XGB1187B9912E6', None, None, 'Philadelphia, PA', 'Boyz II Men', 'SOFRAZJ12A8C143CDB', 'On Bended Knee', Decimal('329'), 1994),
 (1, 'ARAEX7Y1187FB42D36', None, None, 'Severn, MD', 'Toni Braxton Featuring Shaggy', 'SOEXSIN12A8C133B0A', 'Christmas In Jamaica', Decimal('219'), 2001),
 (1, 'ARQZCW31187B9AC64C', None, None, '', 'Supervielle', 'SOULHZX12A67020A62', 'Mateo Y Cabrera', Decimal('291'), 2004),
 (1, 'AREUSCM1187B9B56A0', 34.05349, -118.24532, 'Los Angeles, CA', 'Silver', 'SODIHOR12AB01845BA', 'Hold Fast', Decimal('181'), 0),
 (1, 'AR37QVQ1187FB4E011', 33.89528, -118.22433, 'Compton, CA', 'MC Eiht', 'SOFITMV12A8C133C9B', 'Def Wish IV (Tap That Azz)', Decimal('335'), 1996),
 (1, 'AR7TKV21187B9B8611', None, None, '', 'Swell', 'SOVQCMA12A6D4F6C58', 'Life\x19s Great', Decimal('245'), 0),
 (1, 'ARAGJTD1187B9A8646', None, None, '', 'P Money ft. Little Dee & Craig', 'SOUPKAB12AB0185DF9', 'Crazy', Decimal('223'), 2009)]

<BR>

In [30]:
%sql SELECT * FROM factSongplay LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(299, datetime.datetime(2018, 11, 2, 18, 2, 42), 50, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 207, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (235, datetime.datetime(2018, 11, 4, 7, 31, 31), 25, 'paid', 'SOHWVJJ12AB0185F6D', 'ARASYMJ1187B9ACAF2', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (258, datetime.datetime(2018, 11, 5, 1, 48), 44, 'paid', 'SOOXLKF12A6D4F594A', 'ARF5M7Q1187FB501E8', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (81, datetime.datetime(2018, 11, 5, 15, 43, 22), 97, 'paid', 'SODHZVG12A8C1404DD', 'ARS5WKC1187B9AC7D1', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (351, datetime.datetime(2018, 11, 5, 16, 4, 5), 97, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (27, datetime.datetime(2018, 11, 6, 8, 49, 19), 12, 'free', 'SOBJDDA12A6BD53159', 'ARCS4GZ1187FB469EB', 300, 'New York-Newark-Jersey City, NY-NJ-PA', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (115, datetime.datetime(2018, 11, 6, 16, 38, 15), 2, 'free', 'SOSMXVH12A58A7CA6C', 'AR6PJ8R1187FB5AD70', 126, 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (168, datetime.datetime(2018, 11, 6, 20, 12, 11), 97, 'paid', 'SODCQYZ12A6D4F9B26', 'ARYJ7KN1187B98CC73', 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (289, datetime.datetime(2018, 11, 7, 15, 41, 10), 15, 'paid', 'SOWEUOO12A6D4F6D0C', 'ARQUMH41187B9AF699', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (284, datetime.datetime(2018, 11, 7, 18, 11, 11), 15, 'paid', 'SODTRKW12A6D4F9A51', 'AR71MIY1187B9BA0C3', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [31]:
%sql SELECT * FROM dimUser LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(15, 'Lily', 'Koch', 'F', 'paid'),
 (15, 'Lily', 'Koch', 'F', 'free'),
 (22, 'Sean', 'Wilson', 'F', 'free'),
 (23, 'Morris', 'Gilmore', 'M', 'free'),
 (24, 'Layla', 'Griffin', 'F', 'paid'),
 (27, 'Carlos', 'Carter', 'M', 'free'),
 (28, 'Brantley', 'West', 'M', 'free'),
 (42, 'Harper', 'Barrett', 'M', 'paid'),
 (47, 'Kimber', 'Norris', 'F', 'free'),
 (81, 'Sienna', 'Colon', 'F', 'free')]

In [32]:
%sql SELECT * FROM dimSong LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOEKGDN12AB0184D42', 'Change', 'ARL5BQX1187FB586E8', 0, Decimal('235')),
 ('SOHJGBD12AC468B57F', 'Sólo Tengo un Amor', 'AROQSSL1187FB415F6', 0, Decimal('212')),
 ('SOLAOEO12A8C13FDFA', 'Slave to My Dick', 'AR1VG6L1187B999D3F', 0, Decimal('163')),
 ('SOFLQEM12A8C1415A5', 'When Do You Say Hello?', 'AR52B301187B9A8BDA', 0, Decimal('122')),
 ('SOFKBNW12A8C13E536', 'Cover For Me', 'ARX5XTP1187FB3D8CC', 0, Decimal('249')),
 ('SOVWNAS12A8C130573', 'Heart Half Empty', 'ART09111187FB5BF48', 0, Decimal('295')),
 ('SOFWWLR12A6D228195', 'Uno Mas', 'AR7YD6B1187B99210E', 0, Decimal('196')),
 ('SOGGBJZ12AB0189ADF', 'Blinded', 'AR7RMFT1187B9B1A68', 0, Decimal('305')),
 ('SOZULNY12A58A7B938', 'Raised In Hell', 'ARE2G8K1187FB53219', 0, Decimal('169')),
 ('SOIDYPH12A8C13785C', 'Scrub Da Ground', 'ARGUNS41187B995E64', 0, Decimal('199'))]

In [33]:
%sql SELECT * FROM dimArtist LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('ARAOHUA11F50C48CED', 'Hackensaw Boys', '', None, None),
 ('AR7VWZ11187B98DA42', 'Spice Girls', '', None, None),
 ('ARO0AKN1187B9A1B84', 'The Humpers', '', None, None),
 ('ARZ8S071187B993849', 'Tito Rodriguez_ Louie Ramirez', 'San Juan, Puerto Rico', 18.46617, -66.10665),
 ('ARFEZRN1187FB3E182', 'Stanley Turrentine', 'Pittsburgh, PA', 40.43831, -79.99745),
 ('ARDXSGU1187B99BA95', "Pirat's Sound Sistema", '', None, None),
 ('AREI0AM1187FB54C33', 'Tim Hardin', 'Eugene, OR', 44.04992, -123.08854),
 ('ARDS81Q1187B989358', 'Billy Dean', 'Quincy, FL', 30.58814, -84.58094),
 ('AR225QF1187B9B351E', 'Bernhard Brink', 'Kent, OH', 41.15093, -81.35822),
 ('AR354L71187B9B9FBD', "Martin O'Donnell / Michael Salvatori", '', None, None)]

In [34]:
%sql SELECT * FROM dimTime LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c14flb9nzd6z.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 1, 29, 36), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 1, 29, 36), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 5, 30), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 5, 30), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 42, 23), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 42, 23), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 57, 56), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 57, 56), 9, 2, 44, 11, 2018, 5)]

<br>
<br>